//
//  Final.xcconfig
//
//  Created by Sebastian Celis on 6/26/14.
//  Copyright (c) 2014 Sebastian Celis. All rights reserved.
//

GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_CONFIGURATION) $(GCC_PREPROCESSOR_DEFINITIONS_TARGET) $(GCC_PREPROCESSOR_DEFINITIONS_TESTS) $(GCC_PREPROCESSOR_DEFINITIONS_PODS) $(GCC_PREPROCESSOR_DEFINITIONS_CUSTOM)
OTHER_LDFLAGS = -ObjC $(OTHER_LDFLAGS_CONFIGURATION) $(OTHER_LDFLAGS_TARGET) $(OTHER_LDFLAGS_TESTS) $(OTHER_LDFLAGS_PODS) $(OTHER_LDFLAGS_CUSTOM)
OTHER_LIBTOOLFLAGS = $(OTHER_LDFLAGS)
OTHER_CFLAGS = $(OTHER_CFLAGS_CONFIGURATION) $(OTHER_CFLAGS_TARGET) $(OTHER_CFLAGS_TESTS) $(OTHER_CFLAGS_PODS) $(OTHER_CFLAGS_CUSTOM)
OTHER_SWIFT_FLAGS = $(OTHER_SWIFT_FLAGS_CONFIGURATION) $(OTHER_SWIFT_FLAGS_TARGET) $(OTHER_SWIFT_FLAGS_TESTS) $(OTHER_SWIFT_FLAGS_PODS) $(OTHER_SWIFT_FLAGS_CUSTOM)

HEADER_SEARCH_PATHS = $(SDKROOT)/usr/include $(HEADER_SEARCH_PATHS_CONFIGURATION) $(HEADER_SEARCH_PATHS_TARGET) $(HEADER_SEARCH_PATHS_TESTS) $(HEADER_SEARCH_PATHS_PODS) $(HEADER_SEARCH_PATHS_CUSTOM)
LIBRARY_SEARCH_PATHS = $(SDKROOT)/usr/lib/system $(LIBRARY_SEARCH_PATHS_CONFIGURATION) $(LIBRARY_SEARCH_PATHS_TARGET) $(LIBRARY_SEARCH_PATHS_TESTS) $(LIBRARY_SEARCH_PATHS_PODS) $(LIBRARY_SEARCH_PATHS_CUSTOM)
FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS_CONFIGURATION) $(FRAMEWORK_SEARCH_PATHS_TARGET) $(FRAMEWORK_SEARCH_PATHS_TESTS) $(FRAMEWORK_SEARCH_PATHS_PODS) $(FRAMEWORK_SEARCH_PATHS_CUSTOM)
LD_RUNPATH_SEARCH_PATHS = $(LD_RUNPATH_SEARCH_PATHS_PLATFORM) $(LD_RUNPATH_SEARCH_PATHS_CONFIGURATION) $(LD_RUNPATH_SEARCH_PATHS_TARGET) $(LD_RUNPATH_SEARCH_PATHS_FRAMEWORK) $(LD_RUNPATH_SEARCH_PATHS_TESTS) $(LD_RUNPATH_SEARCH_PATHS_PODS) $(LD_RUNPATH_SEARCH_PATHS_CUSTOM)
