//
//  Final.xcconfig
//
//  Created by Sebastian Celis on 6/26/14.
//  Copyright (c) 2014 Sebastian Celis. All rights reserved.
//

GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_CONFIGURATION) $(GCC_PREPROCESSOR_DEFINITIONS_EXTRA)
OTHER_LDFLAGS = -ObjC $(OTHER_LDFLAGS_TESTS) $(OTHER_LDFLAGS_APPLICATION)

HEADER_SEARCH_PATHS = $(SDKROOT)/usr/include $(HEADER_SEARCH_PATHS_EXTRA) $(HEADER_SEARCH_PATHS_TESTS)
LIBRARY_SEARCH_PATHS = $(SDKROOT)/usr/lib/system $(LIBRARY_SEARCH_PATHS_EXTRA)
FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS_EXTRA) $(FRAMEWORK_SEARCH_PATHS_TESTS)
LD_RUNPATH_SEARCH_PATHS = $(LD_RUNPATH_SEARCH_PATHS_PLATFORM) $(LD_RUNPATH_SEARCH_PATHS_TESTS)
