//
//  iOSExtension.xcconfig
//
//  Created by Sebastian Celis on 11/3/14.
//  Copyright (c) 2014 Filament Labs, Inc. All rights reserved.
//

#include "iOS.xcconfig"

APPLICATION_EXTENSION_API_ONLY = YES
SKIP_INSTALL = YES
GENERATE_PKGINFO_FILE = NO
GCC_PRECOMPILE_PREFIX_HEADER = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
