//
//  iOSStaticLibrary.xcconfig
//
//  Created by Sebastian Celis on 8/8/14.
//  Copyright (c) 2014 Sebastian Celis. All rights reserved.
//

#include "iOS.xcconfig"

DEAD_CODE_STRIPPING = NO
PUBLIC_HEADERS_FOLDER_PATH = $(PROJECT_NAME)Headers
SKIP_INSTALL = YES
STRIP_STYLE = non-global
STRIP_INSTALLED_PRODUCT = NO
