//
//  iOSWatchApp.xcconfig
//
//  Created by Sebastian Celis on 5/12/15.
//  Copyright (c) 2015 Filament Labs, Inc. All rights reserved.
//

#include "iOS.xcconfig"

SKIP_INSTALL = YES
TARGETED_DEVICE_FAMILY = 4
TARGETED_DEVICE_FAMILY[sdk=iphonesimulator*] = 1,4
GCC_NO_COMMON_BLOCKS = YES
GCC_SYMBOLS_PRIVATE_EXTERN_RELEASE = YES
