//
//  Release.xcconfig
//
//  Created by Sebastian Celis on 6/21/14.
//  Copyright (c) 2014 Sebastian Celis. All rights reserved.
//

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution
COPY_PHASE_STRIP = YES
ENABLE_NS_ASSERTIONS = NO
GCC_OPTIMIZATION_LEVEL = s
GCC_PREPROCESSOR_DEFINITIONS = RELEASE=1 $(GCC_PREPROCESSOR_DEFINITIONS_EXTRA)
ONLY_ACTIVE_ARCH = NO
RUN_CLANG_STATIC_ANALYZER = NO
SWIFT_OPTIMIZATION_LEVEL = -O
VALIDATE_PRODUCT = YES
