//
//  UnitTests.xcconfig
//
//  Created by Sebastian Celis on 7/13/16.
//  Copyright (c) 2016 Sebastian Celis. All rights reserved.
//

FRAMEWORK_SEARCH_PATHS_TESTS = $(DEVELOPER_FRAMEWORKS_DIR)
HEADER_SEARCH_PATHS_TESTS = /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include
LD_RUNPATH_SEARCH_PATHS_TESTS = @loader_path/Frameworks
OTHER_LDFLAGS_TESTS = -framework XCTest
